*.md
*.rst
*~
*.sh
*.in
LICENSE
Makefile
make-project-settings.mk
.make-release-support
.release
change.log
bin/
templates/
docs/
mkdocs.yml
dist/
build/
examples/

# mkdocs
mkdocs.yml
site_mkdocs/

# testes
test/

# App source code
Docker/
t/
scripts/
buildlog.txt

# App data dir
data/
